GITLAB_WEBHOOK_SECRET=replace-with-your-gitlab-webhook-secret
GITLAB_TOKEN=replace-with-your-gitlab-token
GEMINI_API_KEY=replace-with-your-gemini-api-key # Optional, only needed if using Gemini as the LLM provider
AWS_BEARER_TOKEN_BEDROCK=replace-with-your-bedrock-api-key
AWS_REGION=eu-west-1